/**
 * Custom CSS
 * This is the very last piece of CSS loaded, so if something looks weird,
 * try removing your custom CSS from the theme settings page.
 */

[[setting:customcss]]

[[setting:fontfilesheading]]

[[setting:fontfilesbody]]

/*code added by anil for navbar links*/
.navbarlinks{
      color:#fff;
      margin-right:10px;
}
.sem_dropdowm {
      min-width: 190px;
}
.subulright{
      left:100% !important;
      right: 0% !important;
      min-width: 190px;
}
.subulrightacademic_cal {
      left:100% !important;
      right: 0% !important;
      min-width: 225px;
}