.moodleform_selector{
    width: 76.3%;
    margin-top: 8%;
}
.moodleform_label{
    font-size: small;
    width: 150px !important;
    margin-top: 43px;
}
.moodleform_info{
    width: auto !important;
}
.moodleform_button {
    background-color: #7bbdd7 !important;
    background-image: none !important;
    text-shadow: none !important;
    border: 1px solid #7bbdd7 !important;
    color: #FFF !important;
}
.block_queries .mform .fitem div.fitemtitle {
    width: 30%;
    line-height: 0;
}
.block_queries #id_subject{
       width: 71%;
}
.block_queries .mform .fitem {
    margin-top: -5%;
}
.block_queries .fheader{
     font-size: 15px;
}
#page form #fitem_id_submitbutton {
    background-color: none !important;
    width: 0;
    height: 12px;
}
.block_queries .mform .fitem .felement {
    margin-left: -1% !important;
    margin-top: 5px;
}
.block_queries fieldset.hidden {
     margin-top: -14%;
}
.block_queries .mform .fdescription.required {
     display: none;
}
.block_queries #fgroup_id_buttonar, #fitem_id_submitbutton {
     padding: 0% !important;
}

.block_queries div.editor_atto_toolbar div.atto_group {
         margin: 2px 0 0 2px !important;

}
.block_queries #id_descriptioneditable{
    min-height: 87px !important;
    height: 87px !important;
}
#page-blocks-queries-display_queries .row-fluid .span6 {
     width: 100% !important; 
}
.mypreviewqueries {
     float: right;
}
.mypreviousqueries_link{
 clear: both;
 margin-left: 9px;
}
.backtohome {
    text-align: center !important;
}
.date {
     font-size: 80%;
}
.tooltip1 {
 position: relative;
 width: 90%;
  float: left;
}
.tooltip1 span {
  display: none;
  color: #FFFFFF;
 }
p.tooltip1:hover span {
  display: block;
  position: absolute;
  background-color: #E7E7E7;
  border: 1px solid #82152C;
  width: 70%;
  z-index: 1; /*for div over content*/
  min-width: 100%;
  min-height: 70px;
  height: auto;
  margin-left: 50%;
  color: #424244;
  padding: 2px 5px;
  border-radius: 6%;
 }
 .comment_icon {
     float: left;
     width: 8%;
 }
 #queryresponse_length {
     float: right;
 }
 .commenticon {
     float: right;
 }
 /*for show pop up class*/
 .white-popup {           
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}
.summarylabel {
    width: 100%;
}
.summarytextbox {
    margin-left: 5%;
}
.submitbutton {
    width: 100%;
    margin-left: 65%;
    margin-top: 2%;
}
.textbox {
    min-width: 59%;
}
.commentfield {
    min-width: 59%;
    min-height: 75px;
}
.formheading{
    margin-bottom: 5%;
}
.commenticonpostion {
    /*float: right;*/
    cursor: pointer;
}
.iconclass:hover {
    cursor: pointer;
}
.summarylabel{
    margin-right: 25px;
}
#submitbutton {
    margin-left: 23%;
    margin-top: 5%;
}
#toggle{
	display:none;
}
.toggle_style{
    margin-top: 30px;
    margin-left: 42px;
}
.comment_summary{
    margin-left: 35px;
}
.toggle_comment{
    margin-left: 35px;
    text-align: justify;
}
.sp{
	display: inline-flex;
    list-style-type: none;
    margin: 1px;
     width: 100%;
}
.sp .li{
    padding: 0px 20px;
    width: 11%;
    text-align: center;
}
.sp .lides{
    padding: 0px 10px;
    width: 35%;
    text-align: center;
}
.sp .liadmin{
    padding: 0px 10px;
    width: 12.5%;
    /*text-align: -webkit-right;*/
    text-align: center;
}
.sp .lidesadmin{
    padding: 0px 10px;
    width: 25%;
    text-align: center;
}
.sp .listu{
    padding: 0px 20px;
    width: 11%;
    text-align: center;
}
.sp .lidate{
    padding: 0px 20px;
    width: 21%;
    text-align: center;
}
.togglediv{
    border: 1px solid #EDEDED;
    box-shadow: 2px 2px 2px #AFAFAF;
    background-color: #FCFCFC;
    width: 800px;
    border-radius: 3px;
}
.toggledate{
   display: flex;
}
.toggledate .postedtime{
    margin-left: 0px;
    width: 20%;
    text-align: right;
    font-size: 75%;
}
.toggledate .posted_by{
    width: 80%;
    text-align: right;
    font-size: 75%;
}
 
#mform1 .moodleform_div #fitem_id_usertype .fitemtitle{
    width: 100%;
    display: inline;
}
#fitem_id_submitbutton .felement input[type=submit]{
    font-size: 12px;
    padding: 0px 16px;
}
 /**********added by anil***************/
.block_queries .content {
     margin-left: 3%;
 }
.block_queries .helpbutton{  
    margin-left: 3%;
}
.block_queries .icon {  
    text-align: center !important;
}
#page-my-index .block_queries .clearfix legend {
    display: none;
}
#page-my-index .block_queries .fitemtitle {
    display: none !important;
}
