.block_queries .moodleform_selector{
    width: 50%;
    margin-top: 5%;
}
.block_queries .moodleform_textarea {
    width: 65%;
}
.block_queries .moodleform_subject{
       width: 65%;
}
/*.block_queries #fitem_id_submitbutton {
    
}*/
.block_queries #fitem_id_submitbutton {
    margin-left: 40% !important;
    position: inherit !important;
    bottom: none;
    left: none;
    margin: 0;
    padding: 0% !important;
}
.block_queries .mform .fitem div.fitemtitle {
    width: 30%;
    line-height: 0;
}
.block_queries .mform .fitem {
    margin-top: -5%;
}
.block_queries .fheader{
     font-size: 15px;
}
.block_queries .mform .fitem .felement {
    margin-left: 0% !important;
    margin-top: 3%;
}
.block_queries .mform .fdescription.required {
     display: none;
}
#page-blocks-queries-display_queries .row-fluid .span6 {
     width: 100% !important; 
}
.block_queries .mypreviewqueries {
     float: right;
}
#page-blocks-queries-display_queries .date {
     font-size: 80%;
}
#page-site-index .summarylabel, #page-my-index .summarylabel, #page-blocks-queries-display_queries .summarylabel {
   margin-right: 2%;
}
#page-site-index .textboxsummery, #page-my-index .textboxsummery, #page-blocks-queries-display_queries .textboxsummery {
    width:23%;
}
#page-blocks-queries-display_queries .commenticonpostion {
    cursor: pointer;
}
#page-my-index .iconclass:hover, #page-site-index .iconclass:hover {
    cursor: pointer;
}
#page-site-index #submitbutton,#page-my-index #submitbutton, #page-blocks-queries-display_queries #submitbutton{
    margin-left: 26%;
    margin-top: 2%;
}
#page-site-index .block_queries .ftoggler, #page-my-index .block_queries .ftoggler {
    display: none;
}
#page-site-index .fitemtitle label, #page-my-index .fitemtitle label {
    display: none;
}
#page-blocks-queries-display_queries .toggle_style{
    margin-left: 2%;
    background-color: #E0F9EA;
}
#page-blocks-queries-display_queries .comment_summary{
    margin-left: 1%;
}
#page-blocks-queries-display_queries .profilepicture {
    width: 4%;
    float: left;
}
#page-blocks-queries-display_queries .horizontalline {
    border: 1px dotted #727272;
    border-style: none none dotted; 
}
#page-blocks-queries-display_queries .informationdiv {
   text-align: end;
}
#page-blocks-queries-display_queries .toggle_comment{
    margin-left: 3%;
    text-align: justify;
    margin-right: 3%;
    padding-bottom: 1%;
}
#page-blocks-queries-display_queries .togglediv{
    background-color: #E0F9EA;
    width: 100%;
    padding-top:2%;
}
#page-blocks-queries-display_queries .posted_by{
    font-size: 75%;
    margin-left: 1%;
}
#mform1 .moodleform_div #fitem_id_usertype .fitemtitle{
    width: 100%;
    display: inline;
}
#page-site-index #id_submitbutton, #page-my-index #id_submitbutton {
    font-size: 12px;
    padding: 0 5%;
}
 /**********added by anil***************/
.block_queries .content {
     margin-left: 3%;
 }
.block_queries .helpbutton{  
    margin-left: 3%;
}
.block_queries .icon {  
    text-align: center !important;
}
#page-site-index .ui-dialog .ui-dialog-title, #page-my-index .ui-dialog .ui-dialog-title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #727272;
}
#page-blocks-queries-display_queries .ui-dialog .ui-dialog-title {
     font-weight: 600;
     font-size: 20px;
     text-align: center;
      color: #727272;
}
/*code for popup close button position adjustment*/
#page-blocks-queries-display_queries .ui-widget-content .ui-state-default {
    margin-top: 1%;
    margin-right: 2%; 
    width: 3%;
    height: 15px;
    border: none;
    box-shadow: none;
}
#page-site-index .ui-widget-content .ui-state-default, #page-my-index .ui-widget-header .ui-state-default {
    margin-top: 1%;
    margin-right: 2%; 
    width: 3%;
    height: 15px;
    border: none;
    box-shadow: none;
}
/*code for popup close text*/
#page-blocks-queries-display_queries  .ui-dialog .ui-button .ui-button-text{
    display: none;
}
#page-site-index .ui-button-text, #page-my-index .ui-button-text{
    display: none;
}
#page-site-index .ui-button, #page-my-index .ui-button {
   margin-top: 1.1%;
   margin-right: 1.6%;
   border: none;
}
#page-my-index .ui-dialog, #page-site-index .ui-dialog{
    z-index: 300;
    border-radius: 1%;
    height: auto;
    width: 86% !important;
    top: 30% !important;
    left: 6% !important;
}
#page-blocks-queries-display_queries .ui-dialog {
    z-index: 300;
    border-radius: 1%;
    height: auto;
    width: 86% !important;
    top: 30% !important;
    left: 6% !important;
}
#page-site-index .commentformfields, #page-my-index .commentformfields {
    margin-left: 4%;
    margin-top: 3%;
}
#page-blocks-queries-display_queries .commentformfields {
    margin-left: 4%;
    margin-top: 3%;
}
#page-site-index .querydetailsforcomment, #page-my-index .querydetailsforcomment {
    margin: auto;
}
#page-blocks-queries-display_queries .querydetailsforcomment {
    margin-bottom: 4%;
    margin: auto;
}
#page-blocks-queries-display_queries .popupsubjectpara {
    padding-top: 1%;
}
#page-site-index .popupsubjectpara, #page-my-index .popupsubjectpara {
    padding-top: 1%;
}
#page-site-index .querydata, #page-my-index .querydata {
    margin-left: 2%;
    padding-top: 2%;
    padding-left: 2%;
}
#page-blocks-queries-display_queries .querydata {
    margin-left: 2%;
    padding-top: 2%;
    padding-left: 2%;
}
#page-site-index .querycontent, #page-my-index .querycontent {
    margin-left: 2%;
}
#page-blocks-queries-display_queries .querycontent {
    margin-left: 2%;
}
#page-site-index .postedusername, #page-my-index .postedusername {
    margin-left: 1%;
    margin-right: 1%;
}
#page-blocks-queries-display_queries .postedusername {
    margin-left: 1%;
    margin-right: 1%;
}
#page-site-index .postedtime, #page-my-index .postedtime, #page-blocks-queries-display_queries .postedtime {
    margin-left:1%;
}
#page-blocks-queries-display_queries .subjectclass {
   margin-left: 5%; 
}





