/* 
    Document   : styles
    Created on : Dec 20, 2013, 12:31:39 PM
    Author     : srinu
    Description:
        Purpose of the stylesheet follows.
*/

.town_list_bar{
    border: 1px solid #EEEEEE ;
    border-radius: 20px;
    margin-bottom: 10px;
}
.town_task_list{
    font-size: 12px;
    padding-left: 50px;
    text-decoration: underline;
    width: 33%;
}
.town_ratings span{
    border-right:1px solid #000000 ;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}
.town_ratings span:last-child{
    border:none;
}
.town_ratings {
    padding-left: 685px;
}
.town_ratings img{
    padding-right: 9px;
    height: 15px;
    width: 15px;
}
#townhall.selfilterpos{
    float: left;
    padding: 10px!important;
    text-align: right;
    margin-left: 222px;
    /*width: 77%!important;*/
}
.town_button{
    padding-left: 405px;
}
.single_button {
    float: right;
}

.town_topic_ratings {
    padding-left: 50px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-top: 30px;
}

.town_topic_task_list1{
    padding-left: 50px;
    padding-right: 60px;
    text-align: justify;
}
.town_topic_task_list2 img{
    height: 171px;
    width: 171px;
    padding-left: 50px;
}
.town_topic_task_list2 span:last-child{
    padding: 10px;
}
.town_topic_task_list2 span:first-child{
    width: 60%;
    float:left;
}
.town_topic_task_list2{
    padding-left: 50px;
    padding-right: 60px;
    text-align: justify;
}
.town_likes{
    margin-top: -5px;
    float: left;
    height: 25px;
    width: 25%;
    padding-right: 10px;
}

.town_rates{
    float: left;
    height: 25px;
    width: 40%;
    padding-right: 10px;
}
.town_commnets{
    float: left;
    height: 25px;
    width: 30%;
}
.town_topic_task_list1 span:first-child{
    color:#30ADD1;
    text-decoration: underline;
}
h3 {   text-align: center;}
.town_topic_task_list2 font {
    color:#30ADD1;
    text-decoration: underline;
}
.paging_bar{
    text-align: right;
    padding-right: 50px;
}